/* Will be compiled down to a single stylesheet with your sass files */
.square {
    width: 100%;
    position: relative;
}
.square::before {
    display: block;
    padding-top: 100%;
    content: ' ';
}
.square > svg {
    position: absolute;
    display: block;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #454545;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
}

#steplist {
    margin: 0 0 0 -26px;
    padding: 0;
}

#steplist li {
    border-radius: 3px;
    color: #888;
    padding: 6px 9px;
}

#steplist li.nav-header {
    display: none;
}

#steplist > li.active {
    color: #000;
    background-color: #e0f0fa;
}

.icons {
    list-style: none;
    margin: 0 0 0 -10px;
    overflow: hidden;
    padding: 0;
}

.icons li {
    background: #eee;
    border-radius: 3px;
    float: left;
    margin: 0 0 10px 10px;
    min-width: 6em;
    padding: 30px;
    text-align: center;
}

.icons .icon {
    font-size: 50px;
    height: 70px;
    line-height: 70px;
    color: #454545;
    margin: 0 0 10px;
    padding-right: 0;
    text-align: center;
}

.icon .icon-label {
    font-size: 1em;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

/* bootstrap body */
body {
    margin: 0;
    background: #dfe2e2;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    line-height: 20px;
}
.container {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    margin: 69px auto 0;
    padding: 48px;
    width: 940px;
}
.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}
.row-fluid {
    margin-top: 2em;
    width: 100%;
}
.row-fluid:after {
    display: block;
    line-height: 0;
    clear: both;
    content: ' ';
}
.row-fluid [class*='span']:first-child {
    margin-left: 0;
}
.row-fluid [class*='span'] {
    float: left;
    min-height: 30px;
    box-sizing: border-box;
    margin-left: 2.127659574468085%;
}
.span3 {
    width: 23.404255319148934%;
}
.span9 {
    width: 74.46808510638297%;
}
h2 { font-size: 30px; line-height: 40px; }
h1 { font-size: 36px; line-height: 40px; }
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
}
p { margin: 0 0 10px; }
.btn, .btn-large {
    border: 1px solid #9c9e9e;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #fff;
    background: #e5e9e9;
    color: #454545;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
    height: 27px;
    line-height: 27px;
    text-shadow: 0 1px 0 #fff;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.nav { list-style: none; }
li { line-height: 20px;}

/* DatGUI */
/*
.dg {
    border-radius: 4px !important;
    color: #454545 !important;
    margin-right: 60px;
    margin-top: 24px;
    text-shadow: 0 1px 0 #fff !important;
}

.dg.main {
    background: #fff;
    border: 1px solid #d7d7d7;
    padding: 10px !important;
}

.dg.a {
    margin: 0 !important;
}

.dg .c .slider {
    background: #eee !important;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.1);
    float: right !important;
    margin-right: 6px; 
}

.dg .c .slider-fg {
    background: #288edf !important;
    border-radius: 2px;
    position: relative;
    left: 1px;
}

.dg .c input[type=text] {
    border-radius: 3px !important;
    border: 1px solid transparent !important;
} 

.dg .has-slider input[type=text] {
    background: #fff !important;
    border: 1px solid #9c9e9e !important;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
    color: #454545 !important;
}            

.dg .selector {
    margin: 26px 0 0 !important;
}                   

.dg li {
    border: none !important;
}

.dg .property-name {
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right;
}

.close-button {
    display: none !important;
}*/